<!-- Services Section -->
    <section id="horario">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Horário</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leanpub fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aulas teóricas</h4>
                    <p class="text-muted">Terças-feiras às 19:00 (???), quintas-feiras às 21:00 (???)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aulas Práticas</h4>
                    <p class="text-muted">Terças-feiras às 21:00 (SI03 e SI05)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Monitorias</h4>
                    <p class="text-muted">Segunda à sexta das 13:00 às 14:00 e das 18:00 às 19:00</p>
                </div>
            </div>
        </div>
    </section>