 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <p>{{ post.description }}</p>
                            
                            <ul class="list-inline item-details">
                                <li>
                                {% if post.file-description %}
                                   <strong><a href="{{ post.file | prepend: site.baseurl }}">{{ post.file-description }}</a></strong>
                                {% else %}
                                   <strong><a href="{{ post.link }}" target="_blank">{{ post.link-description }} </a></strong>

                                {% endif %}
                             </ul>
                             <ul class="list-block item-details">
                                </li>
                                {% if post.listas %}
                                    {% for lista in (1..post.listas) %}
                                       <li> <strong><a href="{{ site.baseurl }}/files/lista{{ lista }}.pdf" target="_blank">Lista {{ lista }} </a></strong> </li> 
                                    {% endfor %}
                                {% endif %}
                            </ul>
                           
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
