<!-- About Section -->
    <section id="slides">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Material das aulas teóricas</h2>
                    <h3 class="section-subheading text-muted">Slides preparados pelo Prof. Eduardo C. Xavier</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Início do
                                    <br>Semestre
                                    <br>2s2016!</h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Introdução</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>23/08</h4>
                                    <h4 class="subheading">Aula 01</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Introdução à Programação de Computadores</p>
                                    <strong><a href="{{ "/slides/aula01.pdf" | prepend: site.baseurl }}">Slides da Aula 01</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Variáveis</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25/08</h4>
                                    <h4 class="subheading">Aula 02</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Variáveis, Atribuições e Estrutura Básica de um Programa</p>
                                    <strong><a href="{{ "/slides/aula02.pdf" | prepend: site.baseurl }}">Slides da Aula 02</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>I/O e Aritmética</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>30/08</h4>
                                    <h4 class="subheading">Aula 03</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Escrita, Leitura e Operações Aritméticas</p>
                                    <strong><a href="{{ "/slides/aula03.pdf" | prepend: site.baseurl }}">Slides da Aula 03</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Condicionais</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>01/09</h4>
                                    <h4 class="subheading">Aula 04</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Expressões Relacionais, Lógicas e Comandos Condicionais</p>
                                    <strong><a href="{{ "/slides/aula04.pdf" | prepend: site.baseurl }}">Slides da Aula 04</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>SuSy</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>02/09</h4>
                                    <h4 class="subheading">Lab 00</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Primeiro programa em C e Conhecendo o SuSy</p>
                                    <strong><a href="{{ "/slides/aulaLab00.pdf" | prepend: site.baseurl }}">Slides do Lab 00</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Condicionais II</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06/09</h4>
                                    <h4 class="subheading">Aula 05</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comandos Condicioais</p>
                                    <strong><a href="{{ "/slides/aula05.pdf" | prepend: site.baseurl }}">Slides da Aula 05</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Loops</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>08/09</h4>
                                    <h4 class="subheading">Aula 06</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comandos Repetitivos</p>
                                    <strong><a href="{{ "/slides/aula06.pdf" | prepend: site.baseurl }}">Slides da Aula 06</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Loops II</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>13/09</h4>
                                    <h4 class="subheading">Aula 07</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comandos Repetitivos</p>
                                    <strong><a href="{{ "/slides/aula07.pdf" | prepend: site.baseurl }}">Slides da Aula 07</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Loops III</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>15/09</h4>
                                    <h4 class="subheading">Aula 08</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comandos Repetitivos</p>
                                    <strong><a href="{{ "/slides/aula08.pdf" | prepend: site.baseurl }}">Slides da Aula 08</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Loops IV</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>20/09</h4>
                                    <h4 class="subheading">Aula 09</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comandos Repetitivos</p>
                                    <strong><a href="{{ "/slides/aula09.pdf" | prepend: site.baseurl }}">Slides da Aula 09</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Vetores</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>22/09</h4>
                                    <h4 class="subheading">Aula 10</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vetores</p>
                                    <strong><a href="{{ "/slides/aula10.pdf" | prepend: site.baseurl }}">Slides da Aula 10</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Strings</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27/09</h4>
                                    <h4 class="subheading">Aula 11</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Strings</p>
                                    <strong><a href="{{ "/slides/aula11.pdf" | prepend: site.baseurl }}">Slides da Aula 11</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Matrizes</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>29/09</h4>
                                    <h4 class="subheading">Aula 12</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Matrizes e Vetores Multidimensionais</p>
                                    <strong><a href="{{ "/slides/aula12.pdf" | prepend: site.baseurl }}">Slides da Aula 12</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Funções I</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>04/10</h4>
                                    <h4 class="subheading">Aula 13</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Funções I</p>
                                    <strong><a href="{{ "/slides/aula13.pdf" | prepend: site.baseurl }}">Slides da Aula 13</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Funções II</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06/10</h4>
                                    <h4 class="subheading">Aula 14</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Funções II</p>
                                    <strong><a href="{{ "/slides/aula14.pdf" | prepend: site.baseurl }}">Slides da Aula 14</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Funções III</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>18/10</h4>
                                    <h4 class="subheading">Aula 17</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Funções III</p>
                                    <strong><a href="{{ "/slides/aula17.pdf" | prepend: site.baseurl }}">Slides da Aula 17</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Ponteiros I</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25/10</h4>
                                    <h4 class="subheading">Aula 18</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ponteiros I</p>
                                    <strong><a href="{{ "/slides/aula18.pdf" | prepend: site.baseurl }}">Slides da Aula 18</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Ponteiros II</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27/10</h4>
                                    <h4 class="subheading">Aula 19</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ponteiros II</p>
                                    <strong><a href="{{ "/slides/aula19.pdf" | prepend: site.baseurl }}">Slides da Aula 19</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Ponteiros III</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>01/11</h4>
                                    <h4 class="subheading">Aula 20</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ponteiros III</p>
                                    <strong><a href="{{ "/slides/aula20.pdf" | prepend: site.baseurl }}">Slides da Aula 20</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Registros</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>03/11</h4>
                                    <h4 class="subheading">Aula 21</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Registros</p>
                                    <strong><a href="{{ "/slides/aula21.pdf" | prepend: site.baseurl }}">Slides da Aula 21</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Ordenação</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>08/11</h4>
                                    <h4 class="subheading">Aula 22</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ordenação - Selection Sorte e Bubble Sort</p>
                                    <strong><a href="{{ "/slides/aula22.pdf" | prepend: site.baseurl }}">Slides da Aula 22</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Ordenação II</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10/11</h4>
                                    <h4 class="subheading">Aula 23</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ordenação - Insertion Sort e Busca em Vetores</p>
                                    <strong><a href="{{ "/slides/aula23.pdf" | prepend: site.baseurl }}">Slides da Aula 23</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Arquivos</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>17/11</h4>
                                    <h4 class="subheading">Aula 24</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Arquivos em C e Parâmetros do Programa</p>
                                    <strong><a href="{{ "/slides/aula24.pdf" | prepend: site.baseurl }}">Slides da Aula 24</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Arquivos Binários</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>22/11</h4>
                                    <h4 class="subheading">Aula 25</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Arquivos Binários</p>
                                    <strong><a href="{{ "/slides/aula25.pdf" | prepend: site.baseurl }}">Slides da Aula 25</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Recursão</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>24/11</h4>
                                    <h4 class="subheading">Aula 26</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recursão</p>
                                    <strong><a href="{{ "/slides/aula26.pdf" | prepend: site.baseurl }}">Slides da Aula 26</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Recursão II</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>29/11</h4>
                                    <h4 class="subheading">Aula 27</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recursão II</p>
                                    <strong><a href="{{ "/slides/aula27.pdf" | prepend: site.baseurl }}">Slides da Aula 27</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Recursão III</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>01/12</h4>
                                    <h4 class="subheading">Aula 28</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recursão III - QuickSort</p>
                                    <strong><a href="{{ "/slides/aula28.pdf" | prepend: site.baseurl }}">Slides da Aula 28</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Recursão IV</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06/12</h4>
                                    <h4 class="subheading">Aula 29</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recursão IV - MergeSort</p>
                                    <strong><a href="{{ "/slides/aula29.pdf" | prepend: site.baseurl }}">Slides da Aula 29</a>
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <!--
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Estruturas 
                                    <br>Básicas
                                    <br>Variáveis</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10/08</h4>
                                    <h4 class="subheading">Aula 02</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Variáveis, Atribuições e Estrutura Básica de um programa!</p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
