<!-- About Section -->
    <section id="slides">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Material das aulas teóricas e</h2>
                    <h2 class="section-heading">Lista de Exercícios</h2>
                    <h3 class="section-subheading text-muted">Slides e listas preparados pelo Prof. Eduardo C. Xavier</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Início do
                                    <br>Semestre
                                    <br>2s2016!</h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4><br>Introdução</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>23/08</h4>
                                    <h4 class="subheading">Aula 01</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Introdução à Programação de Computadores</p>
                                    <strong><a href="{{ "/slides/aula01.pdf" | prepend: site.baseurl }}">Slides da Aula 01</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Variáveis</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25/08</h4>
                                    <h4 class="subheading">Aula 02</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Variáveis, Atribuições e Estrutura Básica de um Programa</p>
                                    <strong><a href="{{ "/slides/aula02.pdf" | prepend: site.baseurl }}">Slides da Aula 02</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>I/O e Aritmética</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>30/08</h4>
                                    <h4 class="subheading">Aula 03</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Escrita, Leitura e Operações Aritméticas</p>
                                    <strong><a href="{{ "/slides/aula03.pdf" | prepend: site.baseurl }}">Slides da Aula 03</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Condicionais</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>01/09</h4>
                                    <h4 class="subheading">Aula 04</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Expressões Relacionais, Lógicas e Comandos Condicionais</p>
                                    <strong><a href="{{ "/slides/aula04.pdf" | prepend: site.baseurl }}">Slides da Aula 04</a> 
                                    </strong>
                                   
                                </div>
                            </div>
                        </li>
                        <!--
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Estruturas 
                                    <br>Básicas
                                    <br>Variáveis</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10/08</h4>
                                    <h4 class="subheading">Aula 02</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Variáveis, Atribuições e Estrutura Básica de um programa!</p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
